body {
	background-color:captiontext
	;
}

 #current-link {
 	text-decoration: 
 }

.uppercase {
	font-size: 80px;
}
h1{
	background-color: white;
}
img{
	width: 700px;
	height: 500px;
}
article{
	text-align: center;

} 
h2 {
	color: white;
}
article p {
	color: white;
}