body {
	background-color:grey;
	
}

 #current-link {
 	text-decoration: 
 }

.uppercase {
	font-size: 30px;
}
h1{
	
	border-bottom: 3px solid black;
	padding-bottom: 5px;
	margin-left: 300px ;
	margin-right: 300px;
}
img{
	width: 700px;
	height: auto;
}
article{
	text-align: center;

} 
h2 {
	color: white;
}
article p {
	color: white;
}
button {
	width: 400px;
}
.largertextsize {
	font-size: 20px;
	margin-bottom: 0px;
}
nav a {
	color: navy;
}