body {
	background: url(http://i.imgur.com/jD1Bqfy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
	font-family: 'Alegreya SC', serif;
}


.uppercase {
	font-size: 30px;
	color: yellow;
}
h1{
	
	border-bottom: 3px solid black;
	padding-bottom: 5px;
	margin-left: 300px ;
	margin-right: 300px;
}
img{
	width: 500px;
	height: auto;
}
article{
	text-align: center;

} 
h2 {
color: white;
}
article p {
	color: white);
}
button {
	width: 400px;
}
.largertextsize {
	font-size: 20px;
	margin-bottom: 0px;
	color: white;
	text-align: center;
}
nav a {
	color: navy;
}
@media (max-width:1366px){
	.container {
		width: 100%;
	}
	
	}
	body {
		width: 100%;
	}
	
	}
}
@media  (max-width: 750px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
        .uppercase {width: 50%;
        text-align: center; 
        margin-left:80px; 

        }
        .col-xs-2 {
        	background-color: transparent;
        }
        .list-group-item {
        	background-color: transparent;
        }
        #Paragraph-2 {
        	color: firebrick;
        }
.row {
	text-align: center;

    }
    .container {
    	text-align: center;
    }
}
    }
@media (max-width: 320px) { /* screen size until 500px */
    body {
        font-size: 1.5em; /* 0.8x default size */
        }
       
        .uppercase {width: 50%;
        text-align: center; 
        margin-left:80px; 

        }
        .col-xs-2 {
        	background-color: transparent;
        }
        .list-group-item {
        	background-color: transparent;
        }
        #Paragraph-2 {
        	color: firebrick;
        }
.row {
	text-align: center;

    }
    .container {
    	text-align: center;
    }
}
