body {
	background-image:url(http://i.imgur.com/jD1Bqfy.jpg);
	background-repeat: no-repeat center center fixed;
	background-size: 100%;
	font-family: 'Alegreya SC', serif;
}
#current-link {
 	text-decoration: 
 }

.uppercase {
	font-size: 30px;
	color: yellow;
}
h1{
	
	border-bottom: 3px solid black;
	padding-bottom: 5px;
	margin-left: 300px ;
	margin-right: 300px;
}
img{
	width: 500px;
	height: auto;
}
article{
	text-align: center;

} 
h2 {
color: white;
}
article p {
	color: white);
}
button {
	width: 400px;
}
.largertextsize {
	font-size: 20px;
	margin-bottom: 0px;
	color: white;
	text-align: center;
}
nav a {
	color: navy;
}
